<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Loja en Línea.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
				<key>dateExpires</key>
				<string>29/7/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_compass.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A56F8C66E5453B8732606BB4EDC1B4E698B6796</string>
						<key>dateExpires</key>
						<string>29/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WHMB4X2WC</string>
						<key>name</key>
						<string>Municipio de Loja</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2WHMB4X2WC.ec.gob.loja.lojamovil</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:loja.gob.ec</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>2WHMB4X2WC</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>46e7cf94-21f9-4cf6-bb8a-f10a5f853296</string>
				<key>dateExpires</key>
				<string>29/7/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: ec.gob.loja.lojamovil</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2WHMB4X2WC</string>
				<key>name</key>
				<string>Municipio de Loja</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.4</string>
		</dict>
	</array>
</dict>
</plist>
